html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
}

#sidebar-container {
  min-width: 15em;
  max-width: 30em;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(187, 209, 241);
}

#sidebar-container img {
  border-radius: 50%;
  border: .20em solid rgb(84, 149, 247);
}

.sidebar-header{
  padding-top: 1em;
  margin-bottom: 0.75em;
  padding-bottom: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url("https://media.nature.com/lw800/magazine-assets/d41586-020-01390-w/d41586-020-01390-w_17974388.jpg");
}

.sidebar-header > div {
  color: white;
}

.sidebar-footer{
  margin-top:auto;
  padding-bottom:1em;
  padding-left:1em;
  padding-right:1em;
  font-size: smaller;
}

.sidebar-link > div {
  padding-left: 1em;
}

.link-icons, .footer-text{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.link-icons > a{
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.about-buttons > button, .skill-categories > div {
  margin-left: 0.5em;
  margin-right: 0.5em;
}

/* .crazy-border {
  border: 10px dashed black;
} */

div[class*=sidebar]{
  width: 100%;
}

hr {
  color: black;
  width: 100%;
}

#introduction, #contact-me {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#skill, #projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 1em;
}

.skill-categories, .project-list{
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  width: 100%;
  height: 100%;
  margin-top: 5%;
}

.skill-categories > div,  .project-list > div {
  border: 0.5em solid black;
  width: 20em;
  height: 25em;
  padding: 0.5em;
}