html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: white;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
}

#sidebar-container {
  min-width: 15em;
  max-width: 30em;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(187, 209, 241);
  color: black;
}

#sidebar-container img {
  border-radius: 50%;
  border: .20em solid rgb(84, 149, 247);
}

.sidebar-header{
  padding-top: 1em;
  margin-bottom: 0.75em;
  padding-bottom: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url("https://media.nature.com/lw800/magazine-assets/d41586-020-01390-w/d41586-020-01390-w_17974388.jpg");
}

.sidebar-header > div {
  color: white;
}

.sidebar-footer{
  margin-top:auto;
  padding-bottom:1em;
  padding-left:1.5em;
  padding-right:1.5em;
  font-size: smaller;
}

.sidebar-link > div {
  padding-left: 1em;
}

.link-icons, .footer-text{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.link-icons > a{
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.about-buttons > button, .skill-categories > div {
  margin-left: 0.5em;
  margin-right: 0.5em;
}

div[class*=sidebar]{
  width: 100%;
}

hr {
  color: black;
  width: 100%;
}

#introduction, #home {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

#introduction {
  justify-content: center;
}

#home {
  background: url('../public/skyline.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  padding-top: 10em;
  
}

#introduction {
  background: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/6208f106-928e-47bb-80b1-ce55b9e82b98/dz9zd2-e66746f0-60ef-43e0-a349-82afefda9596.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3sicGF0aCI6IlwvZlwvNjIwOGYxMDYtOTI4ZS00N2JiLTgwYjEtY2U1NWI5ZTgyYjk4XC9kejl6ZDItZTY2NzQ2ZjAtNjBlZi00M2UwLWEzNDktODJhZmVmZGE5NTk2LmpwZyJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTpmaWxlLmRvd25sb2FkIl19._AaTOn7cRVZMq2GIu7kjjq8x1Z-U4dwsEdp7lIz8yRA");
  background-size: cover;
}

.intro-description{
  width: 50em;
  background-color: rgba(167, 189, 221, 0.4);
  padding: 1em 1em 0em 1em;
  border-radius: 4%;
}

 #skill > p {
  width: 35em;
  background-color: rgba(167, 189, 221, 0.4);
  padding: 1em 1em 1em 1em;
  border-radius: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.2em solid rgba(167, 189, 221, 0.8);
}

#skill, #projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top: 1em;
  background: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/6208f106-928e-47bb-80b1-ce55b9e82b98/dz9zd2-e66746f0-60ef-43e0-a349-82afefda9596.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3sicGF0aCI6IlwvZlwvNjIwOGYxMDYtOTI4ZS00N2JiLTgwYjEtY2U1NWI5ZTgyYjk4XC9kejl6ZDItZTY2NzQ2ZjAtNjBlZi00M2UwLWEzNDktODJhZmVmZGE5NTk2LmpwZyJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTpmaWxlLmRvd25sb2FkIl19._AaTOn7cRVZMq2GIu7kjjq8x1Z-U4dwsEdp7lIz8yRA");
  background-size: cover;

}

#skill > div, #projects >div {
  margin-top: 1%;
}

.skill-categories, .project-list{
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  width: 100%;
  height: 100%;
}

.skill-categories > div,  .project-list > div {
  width: 18em;
  height: 21em;
  margin-top: 1%;
  display: flex;
  flex-direction: column;
  justify-content: baseline;
}

.skill-list {
  display: flex;
  flex-flow: row wrap;
}

.skill-list-item {
  margin: 0.3em 0.6em 0.3em 0;
  padding: 0.5em;
  background-color: rgba(167, 189, 221, 0.6);
  border-radius: 10%;
}

.skill-list-item:hover {
  background-color: rgba(167, 189, 221, 1);
}

.project-img {
  widows: 100%;
  height: 50%;
  object-fit: contain;
}
.project-img:hover{
  opacity: 0.3;
}

.project-img:hover + .project-text{
  position: absolute;
  display: block;
  text-align: center;
  top: 25%;
  transform: translateY(-50%);
  width:100%;  
}

.project-container {
  position: relative;
}

.project-text{
  display: none;
}

.project{
  font-size: small;
  margin: 0.2em 0.4em 0.2em 0;
  padding: 0.2em;
  border-radius: 10%;
}

.project-links > a {
  margin: 0.2em 0.4em 0.2em 0;
}

.project-links{
  float: right;
}